---
import Layout from "../layouts/Layout.astro";

let title = "Über Uns";
let description = "Astro Portfolio W52s #4";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---

<Layout {title} {description} {permalink} {canonicalURL}>
  <main id="main-content" aria-label="main">
    <h1>Kontakt</h1>
  </main>
</Layout>
