---
import Layout from "../layouts/Layout.astro";

let title = "Über Uns";
let description = "Astro Portfolio W52s #4";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---

<Layout {title} {description} {permalink} current="über uns" {canonicalURL}>
  <main
    id="main-content"
    aria-label="main"
    data-barba="container"
    data-barba-namespace="about"
  >
    <div class="container">
      <h1 class="h1 heading-dark">Über uns</h1>
      <p>
        I'm baby ennui single-origin coffee food truck listicle la croix, mlkshk
        snackwave dreamcatcher bitters adaptogen yuccie trust fund normcore. 3
        wolf moon microdosing la croix stumptown chicharrones master cleanse.
        Edison bulb plaid la croix, etsy fashion axe iPhone ramps messenger bag
        cray chicharrones raclette. Man braid letterpress poke, whatever godard
        live-edge thundercats sartorial austin keffiyeh literally shabby chic
        yuccie trust fund try-hard. Blue bottle iceland poutine green juice, put
        a bird on it XOXO dreamcatcher small batch. Celiac ramps 8-bit +1 edison
        bulb shoreditch stumptown asymmetrical glossier master cleanse green
        juice etsy lo-fi keffiyeh pitchfork. Ugh disrupt stumptown jean shorts
        health goth.
      </p>
      <p>
        Authentic vaporware ugh, man braid listicle disrupt vexillologist man
        bun hella meggings butcher vinyl schlitz food truck. Disrupt squid food
        truck mumblecore, cred roof party whatever bicycle rights tofu cardigan
        ennui. Neutra tofu street art bushwick chartreuse. Disrupt scenester
        taiyaki schlitz. Vaporware everyday carry chicharrones banh mi gastropub
        four loko. DIY quinoa pabst ramps hoodie ennui. Portland single-origin
        coffee next level tilde cray.
      </p>
      <p>
        Gluten-free woke sustainable offal. Air plant squid shoreditch, +1
        bespoke fam brooklyn listicle umami shaman food truck messenger bag
        literally. Poke copper mug gastropub dreamcatcher, aesthetic snackwave
        man bun kogi hashtag health goth you probably haven't heard of them
        knausgaard beard. Shoreditch tattooed locavore authentic hammock street
        art. Church-key lomo shabby chic, iceland chicharrones neutra aesthetic
        pinterest stumptown. Aesthetic trust fund pinterest locavore thundercats
        gluten-free, kogi succulents offal portland.
      </p>
      <picture class="welcome_image_child">
        <source
          media="(min-width: 768.1px)"
          srcset="../assets/images/welcome-min.webp"
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="../assets/images/welcome_sm-min.webp"
          type="image/webp"
        />

        <img
          srcset="../assets/images/welcome-min.jpg, assets/images/welcome_sm-min.jpg"
          sizes="(min-width: 768.1px), (max-width: 768px)"
          src="assets/images/welcome-min.jpg"
          alt="Der Eingang eines Blumenladens"
        />
      </picture>
    </div>
  </main>
  <style>
    p {
      padding-block: 1rem;
    }
    picture {
      padding-block: 2rem;
    }
  </style>
</Layout>
