<section id="hero" aria-label="hero-section">
  <div class="wrapper">
    <div class="hero_text">
      <h1 class="h1 heading-text hero_title">Blumen für jede Situation</h1>
      <p class="hero_subtitle">
        Blumen für besondere Anlässe? Wir haben solche Blumen. <br />Was immer
        sie wollen.
      </p>
      <a class="bg-primary hero_cta" href="/#merkmale">Entdecken Sie mehr</a>
    </div>
    <div class="hero_image">
      <picture class="hero_image_child">
        <source
          media="(min-width: 768.1px)"
          srcset="assets/images/hero-min.webp"
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="assets/images/hero_sm-min.webp"
          type="image/webp"
        />

        <img
          srcset="assets/images/hero-min.jpg, assets/images/hero_sm-min.jpg"
          sizes="(min-width: 768.1px), (max-width: 768px)"
          src="assets/images/hero-min.jpg"
          alt="Eine Frau mit einem Rosen Strauß"
        />
      </picture>
    </div>
  </div>
</section>

<style>
  @import url("../styles/_media.css");
  section {
    position: relative;
  }
  .wrapper {
    margin-inline: auto;
    max-width: 75rem;

    @media (--sm) {
      width: 90%;
      display: flex;
      height: calc(100vh - 91px);
      align-items: center;
    }
  }
  .hero_text {
    width: 90%;
    margin-inline: auto;
    padding-block: 2.5rem;
    text-align: center;
    @media (--sm) {
      width: 40%;
      margin-inline: 0;
      padding-block: 0rem;
      text-align: left;
    }
    p {
      padding-block: 1rem 2rem;
    }
    a {
      text-decoration: none;
      color: #000;
      padding-inline: 24px;
      padding-block: 12px;
      border-radius: 50px;
      transition: all 0.3s ease-in;
      &:hover {
        color: var(--primary-light);
        background-color: var(--link);
      }
    }
  }
  .hero_image {
    @media (--sm) {
      height: calc(100vh - 91px);
      width: 50%;
      position: absolute;
      right: 0;
    }
    picture {
      @media (--sm) {
        height: 100%;
      }
      img {
        @media (--sm) {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
</style>
