<section id="welcome" aria-label="welcome-section">
  <h2 class="text-center h2 heading-dark">Willkommen</h2>
  <div class="svg-container d-flex justify-center">
    <svg
      width="66"
      height="4"
      viewBox="0 0 66 4"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1C33.64 5.5 65 1 65 1" stroke="#FB7185" stroke-width="2"
      ></path>
    </svg>
  </div>

  <p class="text-center">
    Für jeden Anlass bieten wir Ihnen qualitative Blumen an. <br />Machen Sie
    ihren Liebsten damit eine Freude.
  </p>
</section>

<style>
  @import url("../styles/_media.css");
  section {
    padding-block: 4rem;
    @media (--sm) {
      padding-block: 5rem;
    }
  }
  .svg-container {
    padding-block: 1rem;
  }
</style>
